.app-shell-container {
  border: 20px solid pink;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-header {
  padding: 12px;
  border-right: 20px solid pink;
  border-bottom: 20px solid pink;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  width: fit-content;
}

.angular-logo {
  width: 50px;
  height: 50px;
}

.app-title {
  margin: 0;
  color: #dd0031;
}

.content-container {
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
} 